{% extends "base.html" %}
{% block custom_css %}{% endblock %}
{% block title %}Alim'Confiance{% endblock %} 
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <h1>BONJOUR, ADMINISTRATEUR</h1>
  </div>
  <div class="row justify-content-center">
    <p> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam, felis ac lacinia aliquet, lectus quam volutpat elit, eu volutpat mauris nibh id neque. Cras nisi nibh, fermentum eu rhoncus vel, aliquam sed risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Fusce mollis massa sit amet nunc fermentum eleifend. In ac fermentum nisl. Nulla vel tellus suscipit, tincidunt diam in, dapibus nulla. Vivamus feugiat elit ac ex egestas rutrum eget quis nibh.
    </p>
    <p>
      In id nisi urna. Vestibulum eu mi et dui dictum consectetur. Etiam a ullamcorper odio. Curabitur volutpat ex sit amet neque euismod venenatis. Praesent commodo est a metus porttitor gravida. Donec pulvinar lacus sit amet dui sollicitudin tempus. Praesent ac ex felis. Morbi at odio vel erat porta congue nec eu eros. Phasellus finibus, nulla vitae gravida rhoncus, diam lacus feugiat velit, nec aliquet ante metus sit amet dolor. Donec nec aliquet est. Morbi eu quam turpis. Curabitur eleifend eros eget tortor luctus, ac accumsan libero posuere. 
    </p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <h2>Entraînement du modèle de classification</h2>
  </div>
  <div class="row justify-content-center">
    <form method="POST">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_name_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Raison sociale</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_siret_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Numéro SIRET</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_address_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Adresse</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_zipcode_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Code postal</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_industry_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Activités</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_approval_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Agréments</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_geoloc_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Géolocalisation</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_filter_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Filtre</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="store_industry_ods_param"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Activités ODS</label>
      </div>
      <br />
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Train new classification model</button>
      <form method="post">
        <input type="hidden" id="refresh_csv" name="refresh_csv" value="refresh_csv">
        <button class="btn btn-secondary" type="submit">Refresh CSV & Rebase</button>
      </form>
    </form>
  </div>
</div>


<!-- <--------------------------------------MODAL------------------------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% with global_variable = REBASE_STATUS %}
            {% if global_variable %}
              <script>
                $("#modal_body_from_global").load(location.href+" #modal_body_from_global>*","");
              </script>
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="container">
                <p id='modal_body_from_global'>{{global_variable}}</p>
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}$
{% block custom_script %}
{% endblock %}